venv
__pycache__

**.csv
!NN/contest_1/results/default46/metrics.csv
!NN/contest_1/results/default46/submission.csv

Статистика/hw3/hw3.pdf
Статистика/hw4/hw4.pdf
Статистика/hw5/hw5.pdf
Статистика/hw6/hw6.pdf

Оптимизация/hw3/hw3.pdf

Регрессия/hw4/hw4.pdf

NN/contest_1/nn-image
NN/contest_1/results/*
!NN/contest_1/results/default46/
!NN/contest_1/results/clip_cos
!NN/contest_1/results/model_clip_cos
NN/contest_1/results/default46/best.pth
NN/contest_1/results/default46/last.pth
NN/contest_1/archive (3)
NN/contest_1/sim
NN/contest_1/sim2
NN/contest_1/images_check
NN/contest_1/results
NN/contest_2
