venv
__pycache__

data.csv
Walmart.csv
heart_disease_health_indicators_BRFSS2015.csv
BankChurners.csv

Статистика дз 3.pdf
Статистика дз 4.pdf
Статистика дз 5.pdf
Статистика дз 6.pdf

Оптимизация дз 3.pdf

Регрессия дз 4.pdf
